/* ------------------
contact start
-------------------- */
section.form {
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 0;
  padding: 100px 10px 170px;
  background: linear-gradient(180deg, var(--white) 1.85%, var(--primary-skin-light) 97.46%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 86%);
}

.cnt-form {
  box-shadow: 0px 5.05px 35.34px 0px #00000014;
  background-color: var(--white);
  border-radius: 20px;
  border: 1px solid var(--white);
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.cnt-form img {
  width: 90%;
  object-fit: contain;
}

@media (max-width: 584px) {
  section.form {
    padding: 50px 10px 120px;
  }
}