/* who we are */
.who-we-are {
  background-image: url("../img/who-we-are-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 0 80px 0;
  display: flex;
  justify-content: center;
}

.inner-who-we-are {
  display: flex;
  gap: 30px;
}

.whoweare {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
  width: 50%;
  justify-content: center;

  .text-h2 {
    margin-top: -26px;
  }
}

.img-section {
  width: 50%;
}

.img-section img {
  /* width: 700px; */
  width: 100%;
}

/* our goal */
.our-goal {
  display: flex;
  justify-content: center;
  /* padding: 0 0 80px 0; */
  padding: 80px 0;
}

.inner-our-goal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* cards */
.cards {
  display: grid;
  gap: 16px;
  margin-top: 100px;
  grid-template-columns: repeat(4, 1fr);
}

.single-card {
  background-color: var(--primary-skin-light);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  transition: all 0.3s ease;

  .card-icon {
    margin-left: auto;
  }

  h3 {
    margin-left: auto;
  }

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    transform: translateY(-10px);
    cursor: default;

    img {
      transform: scale(1.15);
    }
  }
}

.cards .single-card:nth-child(even) {
  margin: -50px 0 50px 0;
}

.card-icon {
  background-color: var(--primary-dark-green);
  border-radius: 360px;
  width: 80px;
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
}

.card-icon img {
  width: 40px;
  transition: all 0.3s ease;
  aspect-ratio: 1;
}

/* tabs code  */
/* that code is in style.css file */
/* our numbers */
.our-numbers {
  display: flex;
  justify-content: center;
  padding: 80px 0;
  background-image: url("../img/MAP.svg");
  background-position: center left;
  background-repeat: no-repeat;
  background-size: contain;
}

.inner-our-number {
  display: flex;
  gap: 20px;
}

.number-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
  width: 40%;
  justify-content: center;
}

.numbers-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  width: 60%;
  gap: 20px;
}

.numb-crd {
  box-shadow: 0px 5.05px 35.34px 0px #00000014;
  background-color: white;
  padding: 60px 20px 40px 20px;
  border-radius: 20px;

  p {
    margin-top: 3px;
  }
}

@media (max-width: 1024px) {
  .inner-our-number {
    flex-direction: column;
  }

  .number-info {
    width: 100%;
    max-width: 600px;
  }

  .numbers-card {
    width: 100%;
    max-width: 700px;
  }
}