/* ------------------
Privacy start
-------------------- */
.custom-tabs-container {
  display: flex;
  flex-direction: row-reverse;
}

.tabs-content-area {}

.tabs-nav-wrapper {
  width: 25%;
}

.pt-80-pd-140 {
  padding: 80px 0 140px 0;
}

.tabs-content-area {
  width: 75%;
  display: flex;
  align-items: center;
}

.panel-inner-grid {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  width: 80%;
}

.main-tabs-wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.tabs-nav-container {
  background-color: #faf6f2;
  border-radius: 360px;
}

[role="tablist2"] {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 10px;
  border-radius: 20px;
  background-color: var(--white);
  box-shadow: 0px 5.05px 35.34px 0px #00000014;
  transition: all 0.3s ease;

  &:hover {
    transition: all 0.3s ease;
    box-shadow: 0px 5.05px 35.34px 0px #0000002b;
  }
}

[role="tablet"] {
  width: 100%;
  padding: 10px 15px;
  border: 2px solid var(--white);
  background: #ebebeb80;
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  color: var(--black);
  transition: background 0.15s ease-in-out;
  border-radius: 360px;
}

[role="tablet"]:hover {
  cursor: pointer;
  border: 2px solid var(--primary-skin);
  background: var(--primary-skin);
  color: white;
}

[role="tablet"]:hover svg g path,
[role="tablet"]:hover svg path {
  fill: #ffffff;
}

[role="tablet"][aria-selected="true"] {
  background: var(--primary-skin);
  border-color: var(--primary-skin);
  color: white;
  position: relative;
}

[role="tablet"][aria-selected="true"] svg g path,
[role="tablet"][aria-selected="true"] svg path {
  fill: #ffffff;
}

[role="tabpanel"] {
  position: relative;
  z-index: 2;
}

[role="tabpanel"]:not([tabindex]) {
  display: none;
}

.main-content-panels {
  margin-top: 60px;
  width: 100%;
}

.inner-panel-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 20px;
}

.card-bg-item {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  width: 100%;
  height: 465px;
  padding: 20px;
  display: flex;
  align-items: end;
}

.card-details-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 992px) {
  .custom-tabs-container {
    flex-direction: column;
    gap: 40px;
  }

  [role="tablist2"] {
    width: 100%;
  }

  .tabs-content-area {
    width: 100%;
  }

  .panel-inner-grid {
    width: 100%;
  }
}