.c_gallery-container {
    max-width: 100%;

    .container {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .c_view-gallery-swiper-wrapper {
            .c_gallery_view_swiper {
                overflow: hidden;
                width: 100%;
                border-radius: 28px;

                .swiper-wrapper {
                    .swiper-slide {
                        .c_view-gallery-slide-container {
                            aspect-ratio: 1508 / 818;
                            overflow: hidden;
                            width: 100%;

                            img {
                                border-radius: 28px;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }

        .c_view-gallery-btns-swiper-wrapper {
            display: flex;
            position: relative;
            align-items: center;

            .c_view_gallery-btns-swiper {
                overflow: hidden;
                border-radius: 22.49px;

                .swiper-wrapper {
                    .swiper-slide {
                        border: 3.25px solid #E4E7E9;
                        border-radius: 22.49px;
                        overflow: hidden;
                        display: flex;

                        &.swiper-slide-active {
                            border-color: #D8B38F;
                        }

                        .c_view-gallery-slide-container {
                            aspect-ratio: 1/1;
                            display: flex;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }

            .c_view_gallery-btns-swiper-controls {
                position: absolute;
                left: -20px;
                right: -20px;
                display: flex;
                justify-content: space-between;

                button {
                    width: 44px;
                    aspect-ratio: 1/1;
                    display: grid;
                    place-items: center;
                    background-color: white;
                    border: none;
                    position: relative;
                    background: #D8B38F;
                    border: 3.32px solid #FFFFFF;
                    z-index: 2;
                    border-radius: 100%;
                    cursor: pointer;

                    svg {
                        width: 14px;
                        height: 14px;

                        path {
                            fill: white;
                        }
                    }

                    &[disabled] {
                        opacity: .7;
                    }

                    &.next {}
                }
            }
        }
    }
}

.project-details-page-content-wrapper {
    background-color: #faf6f2;
    padding-bottom: 125px;
    background: linear-gradient(180deg, #faf6f2 1.85%, #faf6f2 97.46%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 96%);
}

/* Project Inquiry Container  */
.project-inquiry-section {
    padding: 128px 0 180px;

    .container {
        .project-inquiry-container {
            .fakeBtn-gray {}

            .inquiry-card-main-container {
                margin-top: 20px;
                display: grid;
                grid-template-columns: 60% 40%;
                gap: 20px;

                .project-info-container {
                    h2 {
                        margin: 10px 0 30px;
                    }

                    .info-content {
                        line-height: 30px;
                    }

                    .info-icon-list {
                        display: flex;
                        flex-direction: column;
                        gap: 16px;
                        margin-top: 20px;

                        .info-icon-item {
                            display: flex;
                            gap: 12px;

                            .icon-image {
                                img {
                                    width: 20px;
                                }
                            }

                            p {
                                font-weight: 600;
                            }
                        }
                    }

                    .btn-skin {
                        margin-top: 30px;
                    }
                }

                .project-form-image {
                    img {
                        aspect-ratio: 650/ 532;
                        width: 100%;
                        margin-top: 65px;
                    }
                }
            }
        }
    }
}

.single-card {
    background-color: #FFFFFF;
}

@media (max-width: 992px) {
    .project-inquiry-section {
        padding: 80px 0 120px;

        & .container {
            & .project-inquiry-container {
                .inquiry-card-main-container {
                    grid-template-columns: 1fr;

                    .project-info-container {
                        h2 {
                            margin: 5px 0 20px;
                        }

                        .inquiry-heading {
                            font-size: 46px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 584px) {
    .project-inquiry-section {
        padding: 60px 0 80px;

        & .container {
            & .project-inquiry-container {
                .inquiry-card-main-container {
                    grid-template-columns: 1fr;

                    .project-info-container {
                        .inquiry-heading {
                            font-size: 46px;
                        }
                    }
                }
            }
        }
    }

    .project-details-page-content-wrapper {
        padding-bottom: 80px;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 98%);
    }

    .c_gallery-container {
        & .container {
            & .c_view-gallery-swiper-wrapper {
                & .c_gallery_view_swiper {
                    border-radius: 16px;

                    & .swiper-wrapper {
                        & .swiper-slide {
                            & .c_view-gallery-slide-container {
                                img {
                                    border-radius: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .c_gallery-container {
        & .container {
            & .c_view-gallery-btns-swiper-wrapper {
                & .c_view_gallery-btns-swiper {
                    border-radius: 14px;

                    & .swiper-wrapper {
                        border-radius: 14px;

                        .swiper-slide {
                            border-radius: 14px;
                        }
                    }
                }
            }
        }
    }

    .c_gallery-container {
        .container {
            gap: 7px;
        }
    }
}