.c_gallery-container {
    max-width: 100%;

    .container {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .c_view-gallery-swiper-wrapper {
            .c_gallery_view_swiper {
                overflow: hidden;
                width: 100%;
                border-radius: 28px;

                .swiper-wrapper {
                    .swiper-slide {
                        .c_view-gallery-slide-container {
                            aspect-ratio: 1508 / 818;
                            overflow: hidden;
                            width: 100%;

                            img {
                                border-radius: 28px;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }

        .c_view-gallery-btns-swiper-wrapper {
            display: flex;
            position: relative;
            align-items: center;

            .c_view_gallery-btns-swiper {
                overflow: hidden;
                border-radius: 22.49px;

                .swiper-wrapper {
                    .swiper-slide {
                        border: 3.25px solid #E4E7E9;
                        border-radius: 22.49px;
                        overflow: hidden;
                        display: flex;

                        &.swiper-slide-active {
                            border-color: #D8B38F;
                        }

                        .c_view-gallery-slide-container {
                            aspect-ratio: 1/1;
                            display: flex;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }

            .c_view_gallery-btns-swiper-controls {
                position: absolute;
                left: -20px;
                right: -20px;
                display: flex;
                justify-content: space-between;

                button {
                    width: 44px;
                    aspect-ratio: 1/1;
                    display: grid;
                    place-items: center;
                    background-color: white;
                    border: none;
                    position: relative;
                    background: #D8B38F;
                    border: 3.32px solid #FFFFFF;
                    z-index: 2;
                    border-radius: 100%;
                    cursor: pointer;

                    svg {
                        width: 14px;
                        height: 14px;

                        path {
                            fill: white;
                        }
                    }

                    &[disabled] {
                        opacity: .7;
                    }

                    &.next {}
                }
            }
        }
    }
}